/target/

bin/src/main/resources/static/images/avatar.png

bin/src/main/resources/static/images/background.jpg

bin/src/main/resources/templates/avatar.jpg

bin/target/classes/static/css/avatar.jpg

bin/target/classes/static/css/background.jpg

bin/target/classes/static/images/avatar.png

bin/target/classes/static/images/background.jpg

bin/target/classes/templates/avatar.jpg

src/main/java/noticeiro/controller/UsuarioController.java

src/main/resources/templates/avatar.jpg

src/main/resources/templates/feed.html

src/test/java/noticeiro/UsuarioControllerTest.java
