*{
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: sans-serif;
}

.filter {
	opacity: .7;
}


.new_link {
	width: 30%;
	background: #313638;
	border-radius: 1.954vw;
}

.tabela_links {
	position: absolute;
	border-collapse: collapse;
	width: 30%;
	border-spacing: 0;
	border-radius: 1.172vw 1.172vw 0 0;
	overflow: hidden;
	box-shadow: 0 0.195vw 1.172vw rgba(32,32,32,.3);
	background: #fafafa;
	text-align: left;
}

.tabela_links th {
	background: #f06543;
	border-collapse: collapse;
	border-spacing: 0;
}

.tabela_links th, .tabela_links td {
	padding: 0.977vw 1.465vw;
}

.tabela_links tr {
	transition: 0.4s;
}


.tabela_links tr:nth-child(even) {
	background: #dedede;
}

.tabela_links tr:hover {
	background: #bdbdbd;
}


.delete {
	display: none;
	transition: 0.4s;
}


.tabela_links tr:hover .delete{
	display:block;
	float: right;
}

.delete_button {
	height: 1vw;
	width: 1vw;
}

.add_button {
	height: 1.5vw;
	width: 1.5vw;
	filter: invert(94%) sepia(94%) saturate(0%) hue-rotate(242deg) brightness(105%) contrast(109%);
	transition: 0.3s;
}

.add_button:hover {
	filter: invert(73%) sepia(78%) saturate(662%) hue-rotate(321deg) brightness(98%) contrast(92%);
}


.add {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.insert_link input[type="text"]{
	border: none;
	border-radius: 0.977vw;
	height: 1.953vw;
	padding-left: 0.488vw;
	background: #555555;
	width: 20vw;
	color: white;
}


