:root{
	--cor1: #100006;
	--cor2: #e6e8e6;
	--cor3: #f06543;
	--cor4: #313638;
	--cor5: #f09d51;
	--fontPeq: 1.25vw;
	--tamanho3: 0.5vw;
}


body {
	margin: 0;
	padding: 0;
	background: var(--cor4);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}


h2{
	font-size: 1.5vw;
}

.label{
	font-size:  1.5vw;
}

.loginbox{
	width: 27vw;
	min-height: 36vw;
	background: var(--cor2);
	color: var(--cor4);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 6.8vw 2.9vw 1vw;
	border-radius: 2.9vw;
}

.avatar {
	width: 9vw;
	height: 9vw;
	position: absolute;
	top: -4.9vw;
	left: calc(50% - 4.9vw);
	
}

h1 {
	margin: 0;
	padding: 0 0 2vw;
	text-align: center;
	font-size:  2.1vw;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 2vw;
}

.loginbox input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 0.1vw solid #fff;
	background: transparent;
	outline: none;
	height: 3.9vw;
	color: var(--cor4);
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	height: 3.9vw;
	background: var(--cor3);
	color: #fff;
	font-size: 1.7vw;
	border-radius: 1.9vw;
	transition: 0.4s
}

.loginbox input[placeholder]{
	font-size: 1.7vw;
}

.loginbox input[type = "submit"]:hover {
	cusor: pointer;
	background: var(--cor5);
	color: #000;
}

.loginbox a {
	text-decoration: none;
	font-size: 1.2vw;
	line-height: 2vw;
	color: var(--cor4);
}

.loginbox a:hover {
	color: var(--cor3);;
}

.error {
	color: red;
	font-size: var(--fontPeq);
}

.logout {
	color: green;
	font-size: var(--fontPeq);
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width:100%;
  color: var(--cor2);
  font-size: var(--tamanho3); 
}


