:root {
	--cor1: #100006;
	--cor2: #e6e8e6;
	--cor3: #f06543;
	--cor4: #f09d51;
	--tamanho1: 3vw;
	--tamanho2: 1.2vw;
	
	--background_color: #313638;
	--footer_color: #e6e8e6;
}

.welcoming {
 	text-align: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	color: var(--cor2);
	font-size: var(--tamanho2);
}

.welcoming h1 {
  font-size: var(--tamanho1);
}

.logo {
	width:12vw;
}

#feed_button {
  position: static;
  padding: 0.4vw;
  text-align: center;
  display:inline-block;
  float:center;
  background: var(--cor3);
  color: var(--cor2);
  text-decoration: none;
  max-height: 2vw;
  border-radius: 4vw;
  transition: 0.3s;
}
#feed_button:hover {
	color: var(--cor1);
	background: var(--cor4);
}