<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Noticeiro - Feed</title>
    </head>
    <body>
        <h1 th:inline="text">Bem vindo ao seu feed de notícias, [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/{username}/links(username=${#httpServletRequest.remoteUser})}" method="post">
        	<div><label> Inserir link : <input type="text" name="url"/> </label></div>
        	<div><input type="submit" value="Inserir link"/></div>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Desconectar"/>
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                </tr>
            </thead>

            <tbody>
                <tr th:if="${links.empty}">
                    <td colspan="2"> No URL Available </td>
                </tr>
                <tr th:each="link : ${links}">
                    <td><span th:text="${link.url}"> URL </span></td>
                </tr>
            </tbody>

        </table>
    </body>
</html>