<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Noticeiro - Feed</title>
    </head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feed_style.css}">
    <body>
        <h1 th:inline="text">Bem vindo ao seu feed de notícias, [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/feed/newlink}" method="post">
        	<div><label> Inserir link : <input type="text" name="url"/> </label></div>
        	<div><input type="submit" value="Inserir link"/></div>
        	<div th:if="${param.url_error}" class = "url_error"> <!-- fazer aparecer do lado do botão inserir link -->
				Url já existente.
			</div>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Desconectar"/>
        </form>
        
       <div class ="filter">
       
        <table class = "tabela_links">
            <thead>
                <tr>
                    <th> Lista de URLs </th>
                </tr>
            </thead>
            <tbody>
                
                <tr th:if="${links.empty}">
                    <td> Não há links cadastrados </td>
                </tr>
                
                <tr th:each="link : ${links}">
                    <td><span th:text="${link.url}"> URL </span>
          
                    <form th:action="@{/feed/delete}" th:method="post" class = "delete">
                    	<input type="hidden" name="url" th:value=${link.url} />
                    	<input type="image" th:src="@{images/lixo.png}" alt="submit" class="delete_button"/>
                  	</form> 
                	</td>
                </tr>
                
            </tbody>
        </table>
   		
   		</div>
   
   
   
    </body>
</html>