<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Noticeiro - Login </title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css">
 	</head>
    <body>
		<div class = "loginbox">
			<img th:src="@{images/logo1.png}" class = "avatar">
			<h1> Faça seu login </h1>
      		<div th:if="${param.error}" class = "error">
           		<p> Dados inválidos. Tente novamente. </p>
       		</div>
       		<div th:if="${param.logout}" class = "logout">
           		<p> Você desconectou-se com sucesso. </p> 
      		</div>
        	<form th:action="@{/login}" method="post">
        		<p> Usuário </p>
           		<div><label> <input type="text" name="username" placeholder = "Entre seu usuário"/> </label></div>
            	<p> Senha </p>
            	<div><label> <input type="password" name="password" placeholder = "Entre sua senha"/> </label></div>
            	<div><input type="submit" value="Entrar"/></div>
       		</form>
        	<a th:href="@{signup}"> Não possui conta? </a>
		</div>
    </body>
</html>